%h1 Sofa store
%header
	%h3 Menu
	%ul 
		%li 
			%a{ href: '#about' } About
		%li 
			%a{ href: '#faq' } FAQ
		%li 
			%a{ href: '#contacts' } Contacts
		%li
			%a{ href: '#register' } Register
		%li
			%a{ href: '#feedback' } Feedback

%a{ id: 'about', class: "type" } 
	%table
		%tr
			%td
				.image-render
					%img{ :src => "/assets/sofa.jpg", alt: "Sofa Image" }
			%td
				.text-render
					%dl
						%dt 
							%h3 Name:
						%dd Sofa XXL
						%dt
							%h3 Price:		
						%dd $300.00
						%dt
							%h3 Description:
						%dd Modern and minimalist, this stationary sofa is perfect for your contemporary-style home. With low track arms and front-to-back platform wood legs, this 2-over-2 cushion sofa brings a crisp, clean, and updated look to any room in your home. Its bonded leather seats are soft and supple, while pocket coil seating and a sinuous spring base is consistently supportive and durable.

%a{ id: 'faq' }
	%h3 FAQ:
	%ol
		%li Can we have a discount?
		%li Can we get a credit on this product?
		%li How many sofas left in storage?
		%li Do you have similar sofas for lower price?
		%li Are there any other color sofas?
		%li Why do you have shop in Antarctica?
%a{ id: 'contacts' }
	%h3 Contacts:
	%p See us in Antarctica with coords -71.8 latitude, 20.2 longitude
	%p We even have a facebook group with great pictures of us with penguins and polar bears


%a{ id: 'register' }
	%h3 Register:

	%form{ action: "" }
		%fieldset
			%label First name:
			%input{ type: "text", name: "fname" }
			%label Last name:
			%input{ type: "text", name: "lname" }
			%br
			%br
			%label Enter password:
			%input{ type: "password", name: "pass1" }
			%label Confirm password:
			%input{ type: "password", name: "pass2" }
			%br
			%br
			%label Enter email:
			%input{ type: "text", name: "email" }
			%p Gender:
			%input{ type: "radio", name: "sex", value: "male" } Male
			%br
			%input{ type: "radio", name: "sex", value: "female" } Female
			%br
			%br
			%input{ type: "submit", name: "sub" }

%a{ id: 'feedback' }

	%h3 Feedback:
	%form{ action: "" }
		%fieldset
			%span Commenter:
			%input{ type: "text", value: "" }
			%br
			%br
			%p Comment:
			%textarea{ rows: "4", cols: "30" }
			%br
			%input{ type: "submit", name: "com", value: "Submit comment" }

%footer
	%p 
		Copyright Oleksandr 
		%a{ href: '#about' } About
		%a{ href: '#faq' } FAQ
		%a{ href: '#contacts' } Contacts
		%a{ href: '#register' } Register
		%a{ href: '#feedback' } Feedback